@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;

}

body {
    font-family: 'Nunito Sans', sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 9vw;
}


.logo {
    width: 85px;
    align-self: top;
    object-fit: fill;
    cursor: pointer;
}

.menu-btn {
    display: none;
}

.left-nav {
    display: flex;
    column-gap: 2vw;
    align-items: center;
}

.right-nav {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.menu {
    visibility: hidden;
    display: flex;
    opacity: 0;
    position: absolute;
    left: 50vw;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: whitesmoke;
    flex-direction: column;
    row-gap: 1vh;
    align-items: flex-start;
    padding-left: 10vw;
    padding-top: 10vh;
    justify-content: flex-start;
    z-index: 2;
    transition: opacity 0.5s ease-in-out;
}

.m-btn {
    position: absolute;
    top: 3.75vh;
    left: 8vw;
    width: max-content;
    padding: 0 7px;
}

a {
    text-decoration: none;
    font-size: 20px;
    padding-bottom: .5vh;
    transition: all .3s ease-in;
    color: #275030;
    transition: opacity 0.5s ease-in-out;


}

a:hover {
    font-weight: 800;
}

.right-nav a {
    border-bottom: .5px solid transparent;
}

.right-nav a:hover {
    border-bottom: .5px solid #00a776;
    transition: all .3s ease-in;

}

.page-title {
    font-size: 32px;
    font-weight: 600;
    color: white;
}

section {
    padding: 10vh 8vw;
}

p {
    color: #6c757d;
}

.section-1 {
    padding: 0;
    height: 75vh;

}

.main {
    display: grid;
    grid-template-columns: 3.5fr 2fr;
    padding: 0 0 0 6vw;
    column-gap: 5vw;
    height: inherit;
    background-image: url('images/hero-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-box {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    background-color: #ffb400;
    gap: 5vh;
    justify-content: center;
    height: 60vh;
    align-self: center;
    border-radius: 5px;
}

.main-box h2 {
    font-size: 18px;
    font-weight: 500;
}

.box-item {
    display: flex;
    flex-direction: row;

}

.box-item img {
    height: 30px;
    margin-right: 20px;
    align-self: center;
}

.box-item p {
    color: black;
    font-size: 16px;
}


.h-flex {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;

}

.flex-row {
    display: flex;
    gap: 2vw;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    color: white;
    line-height: 70px;
    margin-bottom: 40px;
}



.b1 {
    width: 180px;
    height: 50px;
    border-radius: 20px;
    color: white;
    background-color: #275030;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all .5s ease;
    border: 2px solid #ffb400;
    font-weight: 500;
}

.b1:hover {
    background-color: #ffb400;
    color: #275030;
    transition: all .5s ease;
}

button {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    color: white;
    background-color: #00a776;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all .5s ease;
    font-weight: 500;
    border: none;
}

button:hover {
    background-color: white;
    color: #00a776;
    transition: all .5s ease;
    border: 1px solid #00a776;
}

h2 {
    color: white;
    font-size: 36px;
    font-weight: 200;
}


.section-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5vw;
    background-color: #F8FFF8;
}

.section-2 img {
    width: 80px;
}

.section-2 p {
    text-align: center;
    line-height: 1.5rem;
}


h3 {
    font-weight: 300;
    font-size: 24px;
}

.benefit {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    align-items: center;
}

.section-3 {
    display: flex;
    align-items: top;
    justify-content: space-between;
    column-gap: 4vw;
    height: 55vh;
}

.section-3 img {
    border-radius: 5px;

}

.section-3 h2 {
    font-weight: 300;
    color: black;
}

.section-3 p {
    font-size: 18px;
    line-height: 1.6rem;
    text-align: justify;
}

.section-3 .content {
    margin: 5vh 0;

}

.content {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    width: 70%;
}

span {
    color: #275030;
    text-transform: uppercase;
}

.section-4,
.section-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6vh;
    background-color: #eaf4f4;

}

.section-heading {
    font-size: 20px;
    border-top: 1px solid #00a776;
    border-bottom: 1px solid #00a776;
    letter-spacing: 2px;
    padding: 1vh 5vw;
}

.cards {
    display: grid;
    padding: 0 10vw;
    grid-template-columns: 1fr 1fr;
    column-gap: 5vw;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border-radius: 10px;
    height: 50vh;
    position: relative;
    width: 32vw;
    transition: all 0.5s ease-in;
    color: #275030;
    background-color: white;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 8vh 1.5vw;
    row-gap: 4vh;
}

.img-container {
    overflow: hidden;

}

.card h3 {
    font-size: 30px;
    font-weight: 500;

}

.card span {
    font-size: 12px;
    border: 1px solid transparent;
    transition: all .5s ease-out;
    padding: .5vh 0;

}

.card span:hover {
    border-top: 1px solid #00a776;
    border-bottom: 1px solid #00a776;

    transition: all .5s ease-out;
}

.card p {
    text-align: center;
    line-height: 1.3rem;
    font-size: 1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    color: inherit;
}

.card img {
    width: 26vw;
    height: 40vh;
    transition: all 0.2s ease-in;
    object-fit: cover;
    top: 5vh;
    position: absolute;
    border-radius: 10px;
}

.img-left {
    left: -140px;
}

.img-right {
    right: -140px;
}


.card:hover {
    background-color: #00a776;
    color: white;
    transition: all 0.5s ease-in;

}

.card img:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in;
}

.boxes {
    display: flex;
    width: 100%;
    column-gap: 4vw;
    justify-content: center;
    position: relative;
}

.left-arrow {
    position: absolute;
    left: 0;
    bottom: 50%;
    transform: translateY(50%);
    width: 5vw;
}

.right-arrow {
    position: absolute;
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
    width: 5vw;
}

.owl-carousel {
    max-width: 85%;
}

.box {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 1vh 1vw;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 175px;
}



@media screen and (max-width: 500px) {
    .box img {
        width: 167px !important;
        height: 86px !important;
    }

    .email {
        display: flex;
    }
}

.box img {
    display: block;
    object-fit: contain;
    width: 170px;
}


.section-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
        url('images/logo-bg.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}

.section-6 p {
    width: 80%;
    text-align: center;
}

.section-6 h2 {
    font-weight: 500;
}

.section-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4vh;
    row-gap: 4vh;
    margin: 0 4vw;
}

.location-cards {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.location-card {
    display: grid;
    grid-template-rows: 3fr 1fr 1fr 1fr;
    height: 320px;
    padding: 4vh 2vw;
    align-items: center;
    justify-items: center;
    border-radius: 15px;
    /* Centers content horizontally */
}

@media screen and (max-width: 480px) {
    .location-card {
        width: 90%;
        margin: 10px auto;
        border-radius: 5px;
    }

    .links {
        flex-direction: column;
        row-gap: 2vh;
    }




    .box {
        margin: 0px 65px;
        padding: 0;
    }

    .section-3 {
        flex-direction: column;
        justify-content: center;
    }

    .section-3 .content {
        width: 100%;
    }

    .section-3 h2,
    .section-3 span,
    .section-3 p {
        text-align: center !important;
        display: block;
    }

    .section-3 button {
        margin: 5px auto;
    }

    .section-3 img {
        width: 100%;
        margin: auto;
    }
}

.location-card h3 {
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.location-card p {
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}

.location-card img {
    border-radius: 50%;
    object-fit: cover;
    height: 120px;
    width: 200px;
}


.lc-2 {
    background-image: url("images/china-blur.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.lc-3 {
    background-image: url("images/london1-blur.jpg");
    grid-column: 3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lc-4 {
    background-image: url("images/hongkong-blur.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.section-8 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.client-tiles {
    display: flex;
    column-gap: 4vw;
    justify-content: space-between;
}

.client-tile {
    display: flex;
    column-gap: 2vw;
    align-items: start;
}

.client-tile img {
    width: 5vw;
    object-fit: contain;
}

.review {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}


.section-9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8vh;
}

.stats-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat b {
    font-size: 32px;
    font-weight: 600;
}

footer {
    padding: 4vh 10vw 3vh 10vw;
    background-color: #eaf4f4;

}

footer h1 {
    font-size: 30px;
    color: #275030;
    margin-bottom: 0;
}

.footer-grid {
    display: grid;
    column-gap: 2vw;
    grid-template-columns: auto 9fr;
    padding-bottom: 7vh;
}

.footer-body {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
}

.footer-title {
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
    justify-content: space-between;
}

.col p {
    font-weight: bold;
    margin-bottom: 2vh;
}

ul {
    list-style-type: none;
}

li {
    text-decoration: none;
    text-align: left;
    margin: 10px 0;
}

.footer-end {
    display: flex;
    justify-content: space-between;
}

.footer-end p {
    font-size: 14px;
}

footer a,
footer li {
    font-size: 15px;
    font-weight: 400;
}

.icons {
    display: flex;
    column-gap: 2vw;
}

.icon {
    width: 20px;
    vertical-align: middle;
    object-fit: cover;
    margin-right: 0.9vw;
    height: 20px;
}



/** About Page **/

.section-about {
    background-image: url(images/factory.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 68vh;
    width: 100vw;
}

.section-contact {
    background-image: url(images/contact.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh;
    width: 100vw;
}

.section-about h1 {
    color: white;
    text-align: center;
    font-size: 60px;
    padding-top: 27vh;
}

.section-contact h1 {
    color: white;
    text-align: center;
    font-size: 60px;
    padding-top: 27vh;
}

.about-flex {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    justify-content: center;
}

h4 {
    color: #275030;
    font-size: 24px;
    text-transform: uppercase;
    border-bottom: #00a776 2px double;
    width: 20vw;
}

h5 {
    color: #275030;
    font-size: 24px;
    text-transform: uppercase;
    border-bottom: #00a776 2px double;
    width: 36vw;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 5vh;
    width: 70%;
    margin: 10vh 10vw;
}

.about-flex img {
    width: 50%;
    border-radius: 5px;
}

.mission-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 5vw;
    text-align: left;
}

/** Styling for proucts page **/

.section-product {
    background: #e4fae4;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.products {
    display: grid;
    row-gap: 6vh;
    column-gap: 5vw;
    padding: 8vh 4vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    padding-bottom: 4vh;
    border: 1.5px solid #00a776;

}

.product img {
    width: 200px;
    align-self: center;
    height: 100px;
    object-fit: contain;
}

.product p {
    color: #6c757d;
    font-size: 14px;
    text-align: justify;
    padding: 0 1.5vw;
}

/** Styling for contacts page **/




.tiles {
    display: grid;
    grid-template-columns: 1fr 1px 1fr 1px 1fr;
    column-gap: 2vw;
}

.contact-tile {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.divider {
    border-right: 1px solid lightgray;
}

.contact-tile p {
    margin-bottom: 2vh;
}

.form-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2vh;
}

input {
    width: 36vw;
    height: 8vh;
    padding-left: 1vw;
    font-size: 16px;
    border: 1px solid lightgray;
    color: black;
    border-radius: 5px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 8vh;
    column-gap: 4vw;
}


input:focus::-webkit-input-placeholder,
input:focus::placeholder {
    color: transparent;
}

select {
    height: 8vh;
    background-color: white;
    border: 1px solid lightgray;
    padding-left: 1vw;
    font-size: 16px;
}

.select-default {
    color: aqua;
}

textarea {
    padding-left: 1vw;
    padding-top: 1vh;
    font-size: 16px;
    border: 1px solid lightgray;
    color: black;
    border-radius: 5px;
    height: 34vh;
    font-family: 'Nunito Sans', sans-serif;
    width: 36vw;
}

textarea::placeholder {
    color: black;
    opacity: 0.6;

}

/** Services Page**/
.section-services {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
        url("assets/Services-top.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.services-section {
    padding: 8vh 8vw;
}

/** Media Queries for different screen sizes **/

@media(max-width:650px) {

    .menu-btn {
        display: block;
    }

    .right-nav {
        display: none;
    }

    .section-1 h2 {
        font-size: 20px;
        width: 80%;
    }

    h2 {
        font-size: 24px;
    }

    button,
    .b1 {
        width: 120px;
        height: 30px;
        font-size: 12px;
    }

    .menu a {
        font-size: 16px;
    }

    .intro-text {
        width: 90%;
    }

    .section-2 {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 4vh;
    }

    .section-2 img {
        width: 60px;
    }


    .section-3 p {
        font-size: 14px;
        line-height: 1.4rem;
    }

    .cards {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 4vh;
    }

    .card {
        width: 100%;
    }

    .card img {
        width: 100%;
    }

    h3 {
        text-align: center;
    }

    .tiles {
        display: unset;

    }

    .tiles .contact-tile {
        padding: 28px;
    }

    .form-section form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .section-6 p {
        width: 100%;
    }

    .form-section form input,
    .form-section form select,
    .form-section form textarea {
        width: 100%;
    }

    .main {
        display: flex;
        justify-content: center;
    }

    .b2 {
        width: 165px !important;
        height: 48px !important;
    }

    .section-extra {
        padding: 4vh 8vw !important;
    }
}

.gallery {
    background: #EEE;
}

.gallery-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}

.overlay {
    background: transparent;
    /* position: relative; */
    width: 100%;
    /* height: 580px; */
    /* your iframe height */
    /* top: 480px; */
    /* your iframe height */
    /* margin-top: -480px; */
    /* your iframe height */
}

/* Media Queries for other pages */
@media(max-width:650px) {

    .about-flex {
        flex-direction: column;
        align-items: center;
        column-gap: 0;
        row-gap: 4vh;

    }

    .flex-content {
        width: 90%;
        align-items: center;
        text-align: center;
        row-gap: 2vh;
    }

    .flex-content p {
        text-align: justify;
    }

    .about-flex img {
        width: 100%;
        height: 250px;
    }

    .products {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 8vh 6vw;
    }

    .product img {
        width: 150px;
    }

    .services-section {
        padding: 4vh 8vw;
    }
}